################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cryptography
/.vs/ArtOfIntelligence/v15/Server/sqlite3
/Util
/ai.snk
/ArtOfIntelligence.sln
/WebApiSecurity/obj
/WebApiSecurity/ai.snk
*.nupkg
/WebApiSecurity/WebApiSecurity.NET.nuspec
/WebApiSecurity/WebApiSecurity.NET.vbproj.vspscc
/WebApiSecurity/WebApiSecurity.NET.vbproj.user
/.vs
/WebApiSecurity.NET/obj
*.snk
/WebApiSecurity.NET/WebApiSecurity.NET.vbproj.vspscc
/WebApiSecurity.NET/WebApiSecurity.NET.vbproj.user
*.nuspec
